<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button {
        background-color:#0b7d91;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <div>
      <paper-button on-click="addTask">Add Task</paper-button>
    </div>

    <h1>Todo</h1>
    <dom-repeat
      items="{{tasks}}"
      as="task"
      filter="isNotCompleted"
      observe="completed">
      <template is="dom-repeat">
        <div class="todo_element">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task me" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>

    <h1>Completados</h1>
    <dom-repeat
      items="{{tasks}}"
      as="task"
      filter="isCompleted"
      observe="completed">
      <template is="dom-repeat">
        <div class="todo_element">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task me" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>

  </template>
  <script>
    /**
     * `check-list`
     * check list
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          tasks: {
            type: Array,
            value:() => []
          }
        };
      }
      addTask() {
        const newTask = {
          name: '',
          completed: false
        }
        this.push('tasks',newTask)
      }
      isNotCompleted(task) {
        return !task.completed
      }
      isCompleted(task) {
        return task.completed
      }
    }
    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
